@import url('https://fonts.googleapis.com/css2?family=Acme&family=Ubuntu:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  list-style: none;
}

body {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/45eb40107435005.5fa6f974b7c29.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Ubuntu";
  font-size: 3rem;
}

.container {
  position: relative;
  width: 650px;
  height: 290px;
  max-width: 100%;
  overflow: hidden;
  padding: 2rem;
 
  box-sizing: 20px 20px rgba(255,255,255,1);
  background: rgba(255, 255, 255, 0.2);
  box-shadow:15px 15px 20px rgba(0, 0, 0, 0.3); 
  transition: all .5s ease-in-out;
}

.container:hover {
  box-shadow: 15px 15px 20px rgba(255,255,255,.6);

}

.container h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.container ul {
  margin-bottom: 2.5rem;
}
.container ul li{
  position: relative;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.container input[type="radio"] {
  width: 20px;
  height: 20px;
  opacity: 0;
}

.container ul label {
  padding-left: 1rem;
  cursor: pointer;
}

.container ul svg {
  position: absolute;
  left: 2px;
  top: 3px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
}

.container ul svg .tick {
  fill: none;
  stroke: rgb(60, 255, 0);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20;
  stroke-dashoffset: 21;
}

.container li input[type="radio"]:checked+ label+ svg .tick {
  animation: tick 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes tick {
  from {
    stroke-dashoffset: 21;
  }
  to {
    stroke-dashoffset: 0;
  }
}


/* prevBtn and nextBtn */
.container .prev, .next {
  position: absolute;
  bottom: 1rem;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.container .prev {
  right: 7rem;
}
.container .next {
  right:1rem;
}

.container .nextline,.prevline {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
  transition: stroke .5s ease-in-out;
}

.container .next:hover .nextline {
  stroke-dasharray: 100;
  stroke-dashoffset: 60 ;
  stroke:  rgb(60, 255, 0);
  animation: next .6s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes next {
  from{
    stroke-dashoffset: 60;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.container .prev:hover .prevline {
  stroke-dasharray: 100;
  stroke-dashoffset: 60 ;
  stroke:  rgb(60, 255, 0);
  animation: prev .6s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes prev {
  from{
    stroke-dashoffset: 60;
  }
  to {
    stroke-dashoffset: 0;
  }
}


.container .correct_answer{
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  background:#000;
  border-radius: 10px;
  text-align: center;
  color:#fff;
  cursor: pointer;
  transition: all.8s ease-in-out;
}


