<div class="container">
    <!-- <h5>{{question.id}}</h5> -->
    <h4 class="quiz_text">{{question.question}}</h4>
    <br>
    <ul>
        @for( prop of question.propositions; track prop ){
      <li>
        <input type="checkbox" id=prop name=prop value=prop (change)="setAnswer(prop)">
        <label for=prop> {{prop}}</label><br>
    </li>
    }

    </ul>
  
    <!-- <span class="correct_answer">
      Check Answer
    </span> -->
  </div>
 
