<div class="wrapper">
    <h1>LIST OF GAMES</h1>

    <div class="cols">
        @for(game of games; track game ){
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            
                <app-game [game]="game"   ></app-game>
            
            
        </div>
    }
    </div>
</div>