<div class="wrapper">
    <h1>LIST OF CATEGORIES</h1>

    <div class="cols">
        @for(category of categories; track category ){
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            
                <app-category [category]="category"   ></app-category>
            
            
        </div>
    }
    </div>
</div>