<div class="wrapper">
    <h1>LIST OF CARDS</h1>

    <div class="cols">
        @for(card of cards; track card.id ){
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            
                <app-card [card]="card"   ></app-card>
            
            
        </div>
    }
    </div>
</div>
