<div class="container">
    <a [routerLink]="['/cards']">
        <div class="front" [ngStyle]="{'background':category.color}">
            <div class="inner">
                <p>{{category.category}}</p>
                <span>{{category.questions}}</span>

            </div>
        </div>
        <div class="back">
            <div class="inner">
                <!-- <p><app-question /></p> -->
            </div>
        </div>
    </a>

</div>