<div class="container">
    <a [routerLink]="['/categories']">
        <div class="front" [ngStyle]="{'background':game.color}">
            <div class="inner">
                <p>{{game.name}}</p>
                <span>{{game.description}}</span>
            </div>
        </div>
        <div class="back">
            <div class="inner">
                <!-- <p><app-question /></p> -->
            </div>
        </div>
    </a>
    
</div>
