<div class="container">
    <div class="front" [ngStyle]="{'background':card.color}">
        <div class="inner">
            <p>{{card.id}}  : المستوى</p>
            <span>{{card.score}}  : النقاط</span>
        </div>
    </div>
    <div class="back">
        <div class="inner">
            <p><app-question /></p>
        </div>
    </div>
</div> 